---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date:"%Y-%m-%d" }}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
{% endfor %}

<p>
    <br />
    <hr />
</p>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a>
    &nbsp;&nbsp;
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    &nbsp;&nbsp;
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
  {% endif %}
</div>