---
layout: default
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>
    <p class="post-meta">
        <time class="dt-published" datetime="{{ post.date | date:'%Y-%m-%d' }}" itemprop="datePublished">
            {{ post.date | date:"%b %-d, %Y" }}
        </time>
    </p>
  </header>
  <div class="post-content e-content" itemprop="articleBody">
    {{ post.content }}
  </div>  
  {% include share.html %}
  <p>
    <br />
    <hr />
  </p>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="previous">Previous</a>
    &nbsp;&nbsp;
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    &nbsp;&nbsp;
    <a href="{{ paginator.next_page_path | relative_url }}" class="next">Next</a>
  {% endif %}
</div>

{% include infolinks.html %}
{% include cookie-consent.html %}